.idea/misc.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/oc-5-Testez-une-application-full-stack.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/dataSources.xml
.idea/sqldialects.xml
